.card {
  width: 36rem;
  height: 59rem;
  background: #1e1e1e;
  border-radius: 4rem;
  color: #fff;
}

.card_img {
  width: 100%;
  display: block;
}


.tag {
  background: #88B702;
  z-index: 10;
  color: white;
  font-weight: 500;
  padding: 0.4rem 1rem;
  border-radius: 5rem;
  margin-left: 2rem;
}

.title {
  margin-top: 1.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.1rem;
}

.desc {
  opacity: 0.8;
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 400;
  margin-top: 0.8rem;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  gap: 1.5rem;
}

.author div h4 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

.author div p {
  opacity: 0.6;
  margin-top: 0;
}

.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.blog_card {
    font-family: "DM Sans";
    padding: 2rem;
}

.line {
    width: 33.6rem;
    height: 1px;
    background-color: #FFFFFF1A;
    margin-top: 3.5rem;
}

