.section {
  padding: 8rem 18rem;
  text-align: center;
}

.section > * {
  max-width: 2560px;
  margin-left: auto;
  margin-right: auto;
}


.title {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  /* text-align: left; */
}

.subtitle {
  margin: 0 auto 4.7rem;
  max-width: 720px;
  line-height: 3.2rem;
  font-size: 1.7rem;
  padding: 0 15rem;
  text-align: left;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.7rem;
}


.card {
  background: #FFFFFF1A;
  border-radius: 4rem;
  padding: 2rem 3rem;
  text-align: left;

}

.card h3 {
  margin: 1.6rem 0 0.8rem;
  font-size: 1.8rem;
}

.card p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.icon {
  width: 6rem;
  /* height: 48px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.center {
  background: #88B702;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.center p {
  /* color: #1a1a1a; */
}

.phone {
  margin-top: 2.4rem;
  height: 43rem;
  width: 39rem;
  /* border-radius: 400px; */
  /* background: #1f1f1f; */
}

.phone img {
  /* height: 464px; */
  /* width: 320px; */
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 4.1rem 3rem;
}

@media (max-width: 767px) {
  .section {
    padding: 4rem 1.6rem;
  }

  .title {
    font-size: 2.8rem;
    line-height: 1.2;
    text-align: left;
  }

  .subtitle {
    max-width: 100%;
    padding: 0;
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-bottom: 3rem;
    text-align: left;
  }

  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    padding: 2rem;
    border-radius:  2.4rem;
  }

  .center {
    grid-row: auto;
    padding: 0 2rem;
  }

  .icon {
    width: 5rem;
    margin: 1.6rem 0;
  }

  .phone {
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 2rem auto 0;
  }

  .phone img {
    width: 100%;
    height: auto;
    padding: 0;
  }
}


@media (min-width: 767px) and (max-width: 991px) {
  .section {
    padding: 6rem 4rem;
  }

  .title {
    font-size: 3.4rem;
    text-align: left;
  }

  .subtitle {
    padding: 0;
    font-size: 1.6rem;
    line-height: 2.8rem;
    text-align: left;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
  }

  .center {
    grid-row: auto;
    padding: 0 3rem;
  }

  .phone {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 2rem auto 0;
  }

  .phone img {
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
  }
}


@media (min-width: 992px) and (max-width: 2560px) {
  .section {
    /* padding: 8rem 15rem; */
  }

  .title {
    font-size: 4.2rem;
    padding: 0 2rem;
  }

  .subtitle {
    padding: 0;
    max-width: 720px;
    font-size: 1.7rem;
    line-height: 3.2rem;
    /* text-align: left; */
    /* margin-left: 8rem; */
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.7rem;
  }

  .card {
    padding: 2.1rem 3rem;
  }

  .center {
    grid-row: span 2;
  }

  /* .phone {
    width: 100%;
    max-width: 360px;
    height: auto;
    margin: 2.4rem auto 0;
  }

  .phone img {
    width: 100%;
    height: auto;
    padding: 0;
    display: block;
  } */
}


@media (min-width: 991px) and (max-width: 1100px) {
  .section {
    padding: 5rem 1rem;
    text-align: left;
  }

  .subtitle {
    text-align: left;
    margin-left: 2rem;
  }
}


