.home {
  background-color: black;
  min-height: 100vh;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  font-family: "DM Sans";
  font-size: 4.2rem;
  font-style: bold;
}

.subtitle {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  width: 49.6rem;
  margin-top: 1rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2.7rem;
  margin-top: 4.7rem;
}

.side_cards {
  display: flex;  
  flex-direction: column;
  gap: 3.2rem;
  /* height: 395px; */
}




@media (min-width: 390px) and (max-width: 1200px) {

  .home {
    padding: 0;             
    margin-top: 0;          
    min-height: auto;      
  }

  .home h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 0 0 1rem 0;    
    text-align: left;
    width: 90%;
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 2.2rem;
    width: 90%;
    margin: 0 auto 1.5rem auto;
    text-align: left;
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .side_cards {
    gap: 2rem;
    width: 100%;
    align-items: center;
  }
}