.faq {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 12rem;
  color: white;
}

.faq h2 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 6rem;
  font-weight: 700;
}

.faq_item {
  border-bottom: 1px solid #FFFFFF33;
  padding: 2rem 0;
}

.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 700;
  cursor: pointer;
}

.icon {
  font-size: 3.5rem;
  font-weight: 300;
}

.faq_answer {
  margin-top: 1rem;
  font-size: 1.7rem;
  line-height: 1.6;
  color: white;
  max-width: 70%;
}