.container {
    height: 140vh;

    align-items: center;
    justify-content: center;
    /* display: flex; */
}

.text {
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 15rem;
}

.text h1 {
    font-size: 6rem;
    font-weight: 700;
}

.text p {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem 50rem;
    color: white;
}

/* .pricing {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 0;
} */

.usd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.card {
  width: 32rem;  
  background: #FFFFFF1A;
  padding: 4rem 3rem;
  border-radius: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;   
  /* min-height: 520px; */
}

.badge {
  display: inline-block;
  padding: 1rem 1.2rem;
  background: #88B702;
  color: white;
  font-weight: 500;
  border-radius: 2rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  width: 8rem;
  text-align: center;
}

.card h2 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.card p {
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.card h3 {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 3rem 0;
}

.card ul li {
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.8rem;
}

.card ul li::before {
  content: "•";
  color: #9fe40d;
  position: absolute;
  left: 0;
  top: 0;
}

.card button {
  padding: 1.4rem 0;
  width: 100%;
  border: none;
  border-radius: 3.5rem;
  background-color: #88B702;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: auto;
}