.about_us {
  /* min-height: 90vh; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: white;
  font-family: "DM Sans";
  text-align: center;
  padding: 8rem 2rem;
  box-sizing: border-box;
  background: radial-gradient(#1b6622 0%, rgba(0, 0, 0, 1) 70%);
  margin: 10rem 0;
}

.about_us h1,
.about_us p {
  max-width: 900px;
}

.about_us h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about_us p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  opacity: 0.9;
}

@media (max-width: 767px) {
  .about_us {
    padding: 10rem 1.5rem 0;
    text-align: left;
    align-items: flex-start;
    background: none;
    margin: 0;
  }

  .about_us h1 {
    font-size: 3.2rem;
  }

  .about_us p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_us {
    background: none;
    padding: 7rem 2rem;
  }

  .about_us h1 {
    font-size: 4.2rem;
  }

  .about_us p {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
}

@media (min-width: 992px) and (max-width: 2560px) {
  .about_us {
    padding: 9rem 3rem;
  }

  .about_us p {
    padding: 0 10rem;
  }
}

@media (min-width: 1441px) {
  .about_us {
    padding: 12rem 2rem;
  }

  .about_us h1,
  .about_us p {
    max-width: 1100px;
  }

  .about_us p {
    padding: 0 20rem;
  }
}
