.about_us {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-align: center;
  overflow: visible;
  padding: 25rem 0;
}

.about_us::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97rem;
  height: 28.9rem;
  background: linear-gradient(90deg, #88b702 10%, #05430b 60%);
  filter: blur(15rem);
  pointer-events: none;
}

.text {
  position: relative;
  z-index: 1;
}

.about_us h1,
.about_us p {
  max-width: 900px;
}

.about_us h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about_us p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .about_us {
    padding: 10rem 1.5rem 0;
    text-align: left;
    align-items: flex-start;
    background: none;
    margin: 0;
  }

  .about_us::before {
    display: none;
    background: none;
  }

  .about_us h1 {
    font-size: 3.2rem;
  }

  .about_us p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .about_us {
    background: none;
    padding: 15rem 2rem 10rem;
  }

  .about_us h1 {
    font-size: 4.2rem;
  }

  .about_us p {
    font-size: 1.7rem;
    line-height: 2.8rem;
  }
}

@media (min-width: 992px) and (max-width: 2560px) {
  /* .about_us {
    padding: 25rem 3rem 10rem;
  } */

  .about_us p {
    padding: 0 10rem;
  }
}

@media (min-width: 1441px) {
  .about_us h1,
  .about_us p {
    max-width: 1100px;
  }

  .about_us p {
    padding: 0 20rem;
  }
}
