.container {
  padding: 0 12.6rem;
}

.blog {
  margin-top: 20rem;
  margin-bottom: 11rem;
}

.blogTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 6.6rem;
  line-height: 8rem;
  letter-spacing: -1px;
  /* text-align: center; */
  vertical-align: middle;
}

/*---------------------------------------------------------------------------
      /// HeaderBlog
--------------------------------------------------------------------------- */

.head {
  display: flex;
  justify-content: space-between;
  background-color: #1e1e1e;
  border-radius: 4rem;
}

.headCard {
  padding-top: 5.8rem;
  padding-bottom: 5.8rem;
  padding-left: 4.6rem;
  width: 45%;
}

.headCardBtn {
  padding: 1rem 1.6rem;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
}

.headCardTitle {
  margin-top: 2.1rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.28px;
  vertical-align: middle;
}

.headCardDescription {
  margin-top: 1.6rem;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.8rem;
  line-height: 3.2rem;
  letter-spacing: 0%;
  vertical-align: middle;
}

.headImg {
  width: 40%;
  height: auto;
}

/*---------------------------------------------------------------------------
      /// Latest Posts
--------------------------------------------------------------------------- */

.posts {
  margin-top: 17rem;
  margin-bottom: 8rem;
}

.postHead {
  display: flex;
  /* justify-content: space-evenl;    */
  align-items: center;
  /* padding: 0 10rem;   */
  gap: 53rem;
}

.postHeadTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 4.2rem;
  line-height: 5.5rem;
  letter-spacing: 0px;
}

.postBtns {
  display: flex;
  gap: 1.6rem;
  /* padding-right: 10rem; */
}

.postButton {
  color: #fff;
  background-color: #88b702;
  padding: 0.8rem 2.4rem;
  border-radius: 1000px;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;   
  transition: 0.1s ease;
  /* margin-left: 5rem; */
  /* padding-left: 5rem; */
}

.postButton:hover {
  background-color: #6fa001;
  transition: 0.1s ease;
}

.postCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.6rem;
  /* padding: 0 3rem;/ */
}

.postCard {
  overflow: hidden;
  width: 38rem;
  padding-bottom: 3.4rem;
  border-radius: 4rem;
  background-color: #1e1e1e;
}

.postCardButton {
  padding: 1rem 1.4rem;
  border-radius: 1000px;
  background-color: #88b702;
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.7px;
  vertical-align: middle;
  text-transform: uppercase;
  margin-left: 2.2rem;
  margin-top: -2.2rem;
}

.postCardTitle {
  margin-left: 2.2rem;
  margin-top: 4rem;
  font-weight: 700;
  font-style: Bold;
  font-size: 2.2rem;
  line-height: 3.1rem;
}

.postCardDescription {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 2.2rem;
  margin-top: 3.2rem;
  margin-bottom: 3.8rem;
}

.postCardLine {
  width: 88%;
  margin: 0 auto;
  border: 1px solid #343534;
}

.user {
  display: flex;
  gap: 2.2rem;
  margin-left: 2.2rem;
  margin-top: 2.8rem;
}

.avatarIcon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  height: 4rem;
  margin-top: 1rem;
  gap: 0.8rem;
}

.userFullName {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

.aboutUser {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.8px;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (min-width: 940px) and (max-width: 1280px) {
  .container {
    padding: 0 6rem;
  }

  /*---------------------------------------------------------------------------
      /// HeaderBlog
--------------------------------------------------------------------------- */

  .headCard {
    padding-left: 3rem;
    width: 50%;
  }

  .headImg {
    width: 45%;
  }

  /*---------------------------------------------------------------------------
      /// Latest Posts
--------------------------------------------------------------------------- */

  .postCard {
    width: 34rem;
  }

  .postHeadTitle {
    font-size: 3.6rem;
  }

  .postHead {
    /* justify-content: space-around    ; */
    /* margin-right: 27rem; */
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .container {
    padding: 0 4rem;
  }

  .blogTitle {
    font-size: 4rem;
    line-height: 5rem;
  }

  /*---------------------------------------------------------------------------
      /// HeaderBlog
--------------------------------------------------------------------------- */
  .head {
    display: none;
  }

  /*---------------------------------------------------------------------------
      /// Latest Posts
--------------------------------------------------------------------------- */

  .postHead {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .postCards {
    justify-content: center;
  }

  .postCard {
    width: 32rem;
  }

  .postHeadTitle {
    font-size: 3.2rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .container {
    padding: 0 2.4rem;
  }

  .blogTitle {
    font-size: 3.8rem;
    line-height: 4.6rem;
    text-align: start;
  }

  /*---------------------------------------------------------------------------
      /// HeaderBlog
--------------------------------------------------------------------------- */

  .head {
    display: none;
  }

  /*---------------------------------------------------------------------------
      /// Latest Posts
--------------------------------------------------------------------------- */

  .postHead {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .postBtns {
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
  }

  .postCard {
    width: 35.8rem;
  }

  .postCardTitle {
    font-size: 1.8rem;
  }

  .postCardDescription {
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 88%;
  }

  .avatarIcon {
    width: 6rem;
    height: 6rem;
  }
}

@media (min-width: 320px) and (max-width: 389px) {
  .container {
    padding: 0 2rem;
  }

  .blog {
    margin-bottom: 0;
  }

  .blogTitle {
    text-align: start;
    font-size: 3.4rem;
    line-height: 4rem;
  }

  /*---------------------------------------------------------------------------
      /// HeaderBlog
--------------------------------------------------------------------------- */

  .head {
    display: none;
  }

  /*---------------------------------------------------------------------------
      /// Latest Posts
--------------------------------------------------------------------------- */

  .postHead {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  .postBtns {
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;
    width: 100%;
  }

  .postCard {
    width: 28rem;
  }

  .postCardTitle {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .postCardDescription {
    margin-top: 2rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    width: 88%;
  }

  .userInfo {
    height: auto;
    margin-top: 0.7rem;
  }

  .avatarIcon {
    width: 5rem;
    height: 5em;
  }

  .userFullName {
    margin-top: 0;
    font-size: 1.4rem;
  }

  .aboutUser {
    margin-top: 0;
    font-size: 1.4rem;
  }
}
