.container {
  height: 210vh;
}

.post_description {
    display: flex;
    padding: 0 13rem;
    gap: 52rem;
}

.post_description h2 {
    font-size: 4rem;
    font-weight: 700;
}

.badges {
    display: flex;
    gap: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1rem 0;
}

.badgee {
  background-color: #88B702;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 500;
  margin-bottom: 7rem;
  border-radius: 8rem;
}

.badge {
  background-color: #FFFFFF1A;
  color: white;
  padding: 0.5rem 2rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 500;
  margin-bottom: 7rem;
  border-radius: 8rem;
}

.card {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 5rem;
}