.card {
  background-color: #FFFFFF1A;
  padding: 2.5rem 2.5rem;
  width: 32.5rem;
  height: 29.5rem;
  border-radius: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.icon {
  width: 6.8rem;
  height: 6.8rem;
}

.card p {
  font-size: 1.6rem;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 1.4;
  max-width: 26rem;
  margin: 0;
  text-align: left;
}

.card h3 {
  font-family: "DM Sans";
  font-size: 1.8rem;
  font-weight: 700;
  font-style: bold;
  line-height: 2.6rem;
  margin-right: 9rem;
  text-align: left;
  margin: 0;
}

@media (min-width: 390px) and (max-width: 1200px) {
  .card {
    width: 80%;

    padding: 2.2rem;
  }

  .card h3 {
    font-size: 1.8rem;
  }

  .card p {
    font-size: 1.6rem;
  }

  .icon {
    width: 6.8rem;
    height: 6.8rem;
  }
}