.container {
    height: 170rem;
}

.planet {
    display: flex;
}

.mission {
    padding: 10.7rem 15rem;
}

.mission h2 {
    font-size: 4.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.mission p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin-right: 15rem;
}

.for {
    padding: 5rem 0;
}

.image {
    padding: 8rem 0;
    width: 100%;
    height: 100%;
}

.story {
    padding: 10.7rem 15rem;
    margin-top: -20rem;
}

.story h3 {
    font-size: 4.2rem;
    font-weight: 700;
    padding: 1rem 0;
}

.story p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    margin-right: 65rem;
}

.skils {
    padding: 0 8rem;
}

.skils h3 {
    font-size: 4.2rem;
    font-weight: 700;
    padding: 0 7rem;
}

.text  {
    display: flex;
    justify-content: space-around;
}

.description h4 {
    color: white;
    font-size: 2.2rem;
}

.description p {
    color: white;
    font-size: 1.6rem;
}