.card {
  background-color: #FFFFFF1A;
  padding: 50px 30px;
  /* width: 585px; */
  /* height: 295px; */
  border-radius: 40px;
  color: white;
  display: flex;
  /* flex-direction: column; */
  gap: 34px;
}

.icon {
  width: 6rem;
  height: 6rem;
}



.card p {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 2.7rem;
  max-width: 350px;
  /* margin: 0; */
  /* text-align: left; */
  padding: 1rem 0;
}

.card h3 {
  font-family: "DM Sans";
  font-size: 19px;
  font-weight: 700;
  font-style: bold;
  /* line-height: 56px; */
  /* margin-right: 90px; */
  /* text-align: left; */
  margin: 0;
}

@media (min-width: 390px) and (max-width: 1200px) {
  .card {
    width: 80%;

    padding: 22px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 16px;
  }

  .icon {
    width: 68px;
    height: 68px;
  }
}