.container {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  background-color: black;
}

.text {
  max-width: 42rem;
  margin-left: 15rem;
}

.text h2 {
  font-family: "DM Sans";
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}

.description {
  color: white;
  font-size: 1.6rem;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 3rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: white;
}

.list li img {
  width: 4.5rem;
  margin-right: 1.2rem;
}

.computer {
    margin-left: 5rem;
    margin-bottom: 20rem;
}

@media (min-width: 992px) and (max-width: 2560px) {
  .container {
    justify-content: space-around;
    gap: 5.5rem;
    padding: 10rem 6rem;
  }

  .text {
    max-width: 42rem;
    margin-left: 10rem;
  }

  .text h2 {
    font-size: 4.2rem;
  }

  .computer {
    /* margin-left: 5rem; */
    /* margin-bottom: 0; */
  }

  .apple_computer {
     width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-direction: column;
    gap: 4rem;
    padding: 8rem 4rem;
  }

  .text {
    margin: 0;
    max-width: 100%;
  }

  .text h2 {
    font-size: 3.2rem;
  }

  .description {
    font-size: 1.6rem;
  }

  .computer {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .apple_computer {
    width: 80%;
    max-width: 560px;
  }
}


@media (max-width: 767px) {
  .container {
    flex-direction: column;
    gap: 3rem;
    padding: 6rem 1.6rem;
  }

  .text {
    margin: 0;
    max-width: 100%;
  }

  .text h2 {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .list li {
    font-size: 1.5rem;
  }

  .list li img {
    width: 3.8rem;
  }

  .computer {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .apple_computer {
    width: 100%;
    max-width: 320px;
  }
}
