.container {
  display: flex;
  align-items: center;
  gap: 5.5rem;
  background-color: black;
}

.text {
  max-width: 42rem;
  margin-left: 15rem;
}

.text h2 {
  font-family: "DM Sans";
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}

.description {
  color: white;
  font-size: 1.6rem;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 3rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: white;
}

.list li img {
  width: 4.5rem;
  margin-right: 1.2rem;
}

.computer {
    margin-left: 5rem;
    margin-bottom: 20rem;
}

@media (min-width: 390px) and (max-width: 1200px) {
  .container {
    flex-direction: column;
    padding: 0;         
    margin: 0;          
    gap: 2rem;
    background-color: black;
    height: 59rem;
  }

  .text {
    margin: 0;               
    padding: 0 2rem;        
    max-width: 100%;
  }

  .text h2 {
    font-size: 2.8rem;
    line-height: 3.8rem;
    margin-top: 0;           
  }

  .description {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .list li {
    font-size: 1.6rem;
  }

  .list li img {
    width: 4.6rem;
  }

  .computer {
    margin: 0;           
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .apple_computer {
    width: 75%;
  }
}