.btn_users {
  display: none;
}

/* ===== 320px – 1300px ===== */
@media (min-width: 320px) and (max-width: 1300px) {
  .btn_users {
    display: flex; /* 🔥 обязательно */
    align-items: center;
    justify-content: center;

    width: 30rem;
    height: 70px;

    font-size: 16px;
    font-weight: 700;
    line-height: 16px;

    background-color: #88b702;
    color: white;
    border-radius: 50px;
    border: none;

    margin: 0 1rem 30px;
  }
}

@media (min-width: 375px) and (max-width: 426px) {
  .btn_users {
    margin: 3rem auto;
  }
}

@media (min-width: 992px) and (max-width: 1024px) {
  .btn_users {
    margin: 3rem 4rem;
  }
}
