.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 1rem 15rem;
    gap: 28px;
}

.text {
    display: flex;
    text-align: center;
    padding: 0 15rem;
    gap: 42.8rem;
}

.text p {
    font-size: 1.8rem;
    padding: 2rem;
    width: 51rem;
    text-align: left;
}

.text h3 {
    font-size: 4.2rem;
    font-weight: 700;
    
}