.yourProject {
  padding: 0 12rem;
}

.projectTitle {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 5.5rem;
  text-align: center;
  color: #ffffff;
}

.projectDescription {
  padding: 1.6rem 38rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 2.6rem;
  padding: 4.6rem 0;
}

.card {
  background-color: #1e1e1e;
  border-radius: 4rem;
  padding: 4.8rem 2.8rem;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1.2rem;
}

.bigCard {
  width: 47.7rem;
  background-color: #88b702;
  color: white;
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  padding: 4.8rem 2.2rem;
  position: relative;
  overflow: hidden;
}

.cardTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 1.8rem;
  line-height: 2.6rem;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  margin-top: 1rem;
}

.cardDescription {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: start;
  margin: 0;
}

.icons {
  width: 6.8rem;
  height: 6.8rem;
  background: #88b702;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 4.2rem;
  height: 3.4rem;
}

.bigCard .icons .icon {
  position: absolute;
  width: 30rem;
  height: 40rem;
  left: 8rem;
  bottom: 0;
}

.bigCard .cardTitle {
  position: absolute;
  top: 4.4rem;
}

.bigCard .cardDescription {
  position: absolute;
  width: 90%;
  top: 9.2rem;
}
@media (min-width: 1480px) {
  .container {
    padding: 17rem 0rem;
  }

  .projectDescription {
    padding: 1.6rem 37rem;
  }

  .bigCard {
    width: auto;
    position: relative;
  }

  .bigCard .icons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40rem;
    left: 0;
  }

  .bigCard .icons .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .yourProject {
    padding: 0;
    width: 80%;
    margin: 0 auto;
  }

  .buildFeatureImg {
    width: fit-content;
    height: fit-content;
    margin-top: -7.5rem;
  }
}

@media (min-width: 940px) and (max-width: 1280px) {
  .yourProject {
    padding: 0 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 48rem;
    margin: 0 auto;
  }

  .projectTitle {
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.5rem;
    text-align: center;
    color: white;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    padding: 4rem 0;
  }

  .card {
    background-color: #1e1e1e;
    border-radius: 4rem;
    padding: 3.8rem 2rem;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1.2rem;
  }

  .bigCard {
    width: 40rem;
    background-color: #88b702;
    color: white;
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    padding: 4rem 2.2rem;
    position: relative;
    overflow: hidden;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 30rem;
    height: 50rem;
    top: 32.5rem;
    left: 5.5rem;
  }

  .bigCard .cardTitle {
    position: absolute;
    top: 4.4rem;
  }

  .bigCard .cardDescription {
    position: absolute;
    width: 30rem;
    top: 9.2rem;
  }
}

@media (min-width: 768px) and (max-width: 940px) {
  .yourProject {
    padding: 0 4rem;
  }

  .projectTitle {
    font-size: 3.8rem;
    line-height: 5rem;
  }

  .projectDescription {
    padding: 0;
    width: 50rem;
    margin: 0 auto;
    font-size: 2rem;
  }

  .content {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 30rem;
    gap: 2rem;
  }

  .card {
    width: 33rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: 2;
    grid-row: 2;
    width: 33rem;
    height: 62rem;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 30rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 90%;
    text-align: start;
    margin: 0;
  }
  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 2.8rem;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    margin-top: 2rem;
    text-align: start;
    font-size: 3.7rem;
    line-height: 5rem;
  }

  .projectDescription {
    padding: 0;
    font-size: 1.9rem;
    text-align: start;
    width: 100%;
  }

  .content {
    text-align: start;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 35.8rem;
    margin: 0 auto;
  }

  .bigCard {
    grid-column: 1;
    grid-row: 3;
    width: 35.8rem;
    height: 62rem;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 30rem;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 90%;
    text-align: start;
    margin: 0;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 28.1rem;
    height: 50rem;
    top: 19.5rem;
    left: 3.8rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  .yourProject {
    padding: 0 2.4rem;
  }

  .projectTitle {
    text-align: start;
    font-size: 2.6rem;
    line-height: 3.6rem;
  }

  .projectDescription {
    text-align: start;
    padding: 0;
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card {
    width: 100%;
  }

  .bigCard {
    grid-column: auto;
    grid-row: auto;
  }

  .card .cardTitle,
  .bigCard .cardTitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    width: 90%;
  }

  .card .cardDescription,
  .bigCard .cardDescription {
    font-size: 1.6rem;
    width: 22rem;
    text-align: start;
    margin: 0;
  }

  .bigCard {
    width: 100%;
    height: 42rem;
  }

  .icons {
    width: 6.8rem;
    height: 6.8rem;
    background: #88b702;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon {
    width: 4.2rem;
    height: 3.4rem;
  }

  .bigCard .icons .icon {
    position: absolute;
    width: 22rem;
    height: 30rem;
    top: 22rem;
    left: 5rem;
  }
}

@media (max-width: 320px) {
  .bigCard .icons .icon {
    position: absolute;
    width: 22rem;
    height: 30rem;
    top: 22rem;
    left: 2.5rem;
  }
}
