.hero {
  /* min-height: 80vh; */
  background: radial-gradient(#05430b 0%, rgba(0, 0, 0, 1) 65%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DM Sans";
  text-align: center;
  margin: 0 auto;
  padding: 30rem 0 20rem 0;
}

.hero h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
  font-weight: 700;
  max-width: 900px;
}

.hero p {
  font-size: 2rem;
  line-height: 1.6;
  opacity: 0.9;
  max-width: 550px;
}

@media (max-width: 390px) {
  .hero {
    background: black;
    padding: 12rem 2.4rem 3rem;
    text-align: left;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 2.6rem;
    line-height: 3.4rem;
    max-width: 100%;
    padding: 0;
  }

  .hero p {
    font-size: 1.6rem;
    line-height: 2rem;
    /* max-width: 100%; */
    padding: 0;
  }
}

@media (min-width: 390px) and (max-width: 768px) {
  .hero {
    background: black;
    padding: 15rem 3rem 0;
    text-align: left;
    align-items: flex-start;
  }

  .hero h1 {
    font-size: 3.7rem;
    line-height: 4.6rem;
    padding: 0;
  }

  .hero p {
    font-size: 1.9rem;
    line-height: 2.4rem;
    max-width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    background: black;
    padding: 15rem 15rem 5rem;
  }

  .hero h1 {
    font-size: 4rem;
    line-height: 4.6rem;
    padding: 0;
  }

  .hero p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    max-width: 90%;
    margin: 0 8rem;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero {
    padding: 20rem 0 10rem 0;
  }

  .hero h1 {
    font-size: 4.2rem;
    margin: 2rem 40rem;
  }
}
