.container {
  display: flex;
  background-color: black;
  align-items: center;
  gap: 5rem;
  padding: 10rem 0;
}

.text {
  max-width: 42rem;
  margin-left: 10rem;
}

.text h2 {
  font-family: "DM Sans";
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}

.description {
  color: white;
  font-size: 1.6rem;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 3rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: white;
}

.list li img {
  width: 4.5rem;
  margin-right: 1.2rem;
}

.vidio_container {
  width: 56rem;
  height: 35rem;
  border-radius: 4rem;
  background-color: #ffffff1a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_button {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #ffffff33;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play_icon {
  margin-left: 7px;
  margin-top: 4px;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 4rem;
  display: block;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 5rem 1.5rem;
    gap: 4rem;
  }

  .text {
    max-width: 100%;
    margin: 0;
  }

  .text h2 {
    font-size: 2.6rem;
    line-height: 3.4rem;
  }

  .description {
    font-size: 1.5rem;
  }

  .vidio_container {
    width: 100%;
    /* height: 48rem; */
    border-radius: 3rem;
  }

  video {
    border-radius: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-direction: column;
    height: auto;
    padding: 6rem 4rem;
    gap: 5rem;
  }

  .text {
    max-width: 48rem;
    margin: 0;
  }

  .text h2 {
    font-size: 3.2rem;
  }

  .vidio_container {
    /* width: 100%; */
    max-width: 60rem;
    /* height: 38rem; */
    /* margin-right: 5rem; */
  }
}

@media (min-width: 992px) and (max-width: 2560px) {
  .container {
    justify-content: space-between;
  }

  .vidio_container {
    margin-right: 5rem;
  }
}

@media (min-width: 1550px) {
  .container {
    justify-content: space-around;
    /* gap: 10rem; */
  }

  .text {
    margin-left: 0;
  }

  .vidio_container {
    width: 65rem;
    height: 40rem;
  }
}
