.container {
    height: 240vh;

}

.text {
    padding: 20rem 10rem;
    display: flex;
    gap: 55rem;
}

.text h1 {
    font-size: 6rem;
    font-weight: 700;
}

.text p {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
    padding: 1rem 0;
}

.products_section {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem; 
  padding: 0 10rem;
}

.productss_section {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem; 
  padding: 15rem 10rem;
}

.product_card {
  background: #FFFFFF1A;
  border-radius: 4rem;
  padding: 3rem 5rem; 
  padding-top: 16rem;
  position: relative;
  color: white;
}

.productt_card {
  background: #FFFFFF1A;
  border-radius: 4rem;
  padding: 5rem 5rem; 
  padding-top: 16rem;
  position: relative;
  color: white;
}

.product_img {
  width: 100%;
  position: absolute;
  top: -8rem;   
  left: 50%;
  transform: translateX(-50%);
}

.badge {
  background-color: #88B702;
  color: white;
  padding: 0.6rem 1.4rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  font-weight: 500;
  display: inline-block;    
  margin-bottom: 18px;   
}

.product_card h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.product_card p {
  /* opacity: 0.85; */
  line-height: 2;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 0.5rem;
  color: white;
}

.productt_card h3 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.productt_card p {
  /* opacity: 0.95; */
  line-height: 2;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 0.5rem;
  color: white;
}