@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 2.4rem;
  max-width: 2560px;
}

.top_nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo img {
  height: 34px;
  width: 72px;
}

.line {
  width: 1px;
  height: 66px;
  background-color: #ffffff1a;
}

.navigation {
  display: flex;
  gap: 27px;
  font-size: 14px;
  font-family: "DM Sans";
  font-weight: 300;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
  color: #88b702;
}

.navigation a:focus {
  color: #7da808;
}

.btn {
  display: block;
}

.burger {
  display: none;
  width: 45px;
  height: 45px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  background-color: #88b702;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.mobile_menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #050605;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 99;
}

.mobile_menu a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.mobile_menu a:hover {
  opacity: 0.7;
}

@media (max-width: 767px) {
  .nav {
    padding: 16px;
  }

  .top_nav {
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .line {
    display: none;
  }

  .navigation {
    display: none;
  }

  .btn {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (min-width: 767px) and (max-width: 992px) {
  .navigation {
    display: none;
  }

  .top_nav {
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }

  .btn {
    display: none;
  }

  .line {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .btn {
    display: block;
  }
}

@media (min-width: 2000px) and (max-width: 2560px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 3rem 30rem;
  }
}
