.container {
  background-color: black;
  padding: 10rem 0;
  font-family: "DM Sans";
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 12rem 6rem;
  color: white;
}

.text h2 {
  font-size: 4.2rem;
}

.text p {
  width: 45rem;
  line-height: 1.6;
  opacity: 0.8;
}

.about_it {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.articles {
  display: flex;
  justify-content: center;
}

.desktopGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  max-width: 120rem;
  margin: 0 auto 5rem;
}

.mobileSlider {
  display: none;
}

:global(.swiper-pagination) {
  position: static;
  margin-top: 3rem;
}

:global(.swiper-pagination-bullet) {
  background: #ffffff66;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background: white;
}

@media (max-width: 767px) {
  .desktopGrid {
    display: none;
  }

  .mobileSlider {
    display: block;
    /* padding: 0 2rem 4rem; */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 2560px) {
  .container {
    padding: 10rem 0;
  }

  .text {
    margin: 0 12rem 6rem;
    align-items: center;
    justify-content: center;
  }

  .text h2 {
    font-size: 4.2rem;
  }

  .about_it {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 140rem;
    margin: 0 auto 5rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 8rem 0;
  }

  .text {
    margin: 0 4rem 5rem;
  }

  .text h2 {
    font-size: 3.4rem;
  }

  .about_it {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 0 4rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 6rem 0;
  }

  .text {
    margin: 0 2rem 4rem;
  }

  .text h2 {
    font-size: 2.8rem;
    margin: 0 auto;
  }

  .about_it {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
  }

  .articles {
    padding: 0 2rem;
  }
}

/* 👉 ТОЛЬКО 390–1200 */
@media (min-width: 390px) and (max-width: 1200px) {
  .mobileSlider {
    display: block;
  }

  .sliderWrapper {
    max-width: 36rem; /* ширина карточки */
    margin: 0 auto;
  }

  .slide {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .slide {
    width: 32rem;
    max-width: 50rem;
  }
}

@media (min-width: 767px) and (max-width: 900px) {
  .mobileSlider {
    display: none;
  }

  .desktopGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 120rem;
    margin: 0 1rem 5rem;
    overflow-x: scroll;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  .mobileSlider {
    display: none;
  }

  .desktopGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 120rem;
    margin: 0 auto 5rem;
    /* overflow-x: scroll;
    scroll-snap-type: x mandatory; */
  }
}

/* @media (min-width: 400px) and (max-width: 426px) {
  .slide {
    margin: 0 0 0 30rem;
  }
} */

@media (min-width: 320px) and (max-width: 767px) {
  .articles {
    display: none;
  }
}

/* slider core */
.window {
  overflow: hidden;
  width: 100%;
  overscroll-behavior: contain;
}

.track {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 3rem;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ffffff66;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background: white;
}
