.advantages_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 60rem; */
  padding: 12rem 3rem;
  position: relative;
  background: transparent;
  overflow: visible;
}

.advantages_section::before {
  content: "";
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 129rem;
  height: 48.9rem;
  background: linear-gradient(97.05deg, #688e00 0%, rgba(5, 67, 11, 0.1) 98%);
  filter: blur(15rem);
  pointer-events: none;
}

.phones_block {
  position: relative;
  width: 42rem;
  height: 42rem;
}

.green_glow {
  position: absolute;
  width: 75rem;
  height: 75rem;
  border-radius: 50%;
  filter: blur(4rem);
  top: -10rem;
  left: 2rem;
  z-index: 1;
}

.phone {
  position: absolute;
  width: 40rem;
  z-index: 2;
  margin-left: 16rem;
  margin-top: 4rem;
}

.text_block {
  max-width: 46rem;
  margin-right: 20rem;
  position: relative;
  z-index: 1;
}

.text_block h2 {
  font-family: "DM Sans";
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: white;
}

.description {
  color: white;
  font-size: 1.6rem;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 3rem;
}

.advantages_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages_list li {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  color: white;
}

.advantages_list li img {
  width: 4.5rem;
  margin-right: 1.2rem;
}

@media (min-width: 992px) and (max-width: 2560px) {
  .advantages_section {
    /* padding: 12rem 5rem; */
    gap: 6rem;
    /* justify-content: space-around; */
  }

  .phones_block {
    width: 42rem;
    height: 42rem;
  }

  .green_glow {
    width: 75rem;
    height: 75rem;
    top: -10rem;
    left: 2rem;
  }

  .phone {
    width: 40rem;
    margin-left: 16rem;
    margin-top: 4rem;
  }

  .text_block {
    max-width: 46rem;
    /* margin-right: 10rem; */
    margin: 18rem 10rem 0 0;
  }
}

@media (min-width: 991px) and (max-width: 1299px) {
  .advantages_section {
    background: black;
  }

  .advantages_section::before {
    display: none;
    background: none;
  }
}

@media (min-width: 1600px) and (max-width: 2560px) {
  .advantages_section {
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .advantages_section {
    flex-direction: column;
    align-items: center;
    padding: 8rem 3rem;
    gap: 5rem;
    background: black;
  }

  .advantages_section::before {
    display: none;
    background: none;
  }

  .phones_block {
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .green_glow {
    width: 50rem;
    height: 50rem;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(50px);
  }

  .phone {
    width: 30rem;
    margin: 0;
    position: relative;
  }

  .text_block {
    max-width: 40rem;
    margin: 0;
    text-align: center;
  }

  .text_block h2 {
    font-size: 3.2rem;
    text-align: left;
  }

  .description {
    font-size: 1.6rem;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .advantages_section {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem 1.6rem;
    position: relative;
    background: black;
  }

  .advantages_section::before {
    display: none;
    background: none;
  }

  .phones_block {
    width: 100%;
    height: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4rem;
  }

  .green_glow {
    width: 32rem;
    height: 36rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(45px);
    z-index: 0;
  }

  .phone {
    width: 24rem;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  .text_block {
    max-width: 100%;
    margin: 0;
    text-align: left;
    z-index: 3;
  }

  .text_block h2 {
    font-size: 2.6rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .advantages_list li {
    font-size: 1.5rem;
  }

  .advantages_list li img {
    width: 3.8rem;
  }
}

@media (min-width: 991px) and (max-width: 1166px) {
  .advantages_section {
    display: flex;
    justify-content: space-between;
    gap: 25rem;
  }

  .phone {
    margin: 10rem 16rem 0 10rem;
    width: 100%;
    height: 100%;
  }
}
