.testimonials {
  padding: 8rem 0;
  color: white;
  background-color: black;
}

.testimonials h2 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 5rem;
  margin-left: 19rem;
}

.testimonial_card {
  background: #FFFFFF1A;
  padding: 3.5rem;
  margin: 0;
  border-radius: 4rem;
  height: 20rem;
  width: 40rem;
  margin-left: 19rem;
}

.testimonial_card p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: white;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.author img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.author h4 {
  margin: 0;
  font-size: 1.5rem;
}

.author span {
  font-size: 1.3rem;
  opacity: 0.7;
}

:global(.swiper-pagination) {
  margin-top: 4rem;
  position: static !important;
}

:global(.swiper-pagination-bullet) {
  background-color: #FFFFFF66;
  width: 1rem;
  height: 1rem;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background-color: white;
}

@media (max-width: 768px) {
  .testimonials {
    padding: 4rem 0;
    text-align: center;
  }

  .testimonials h2 {
    margin-left: 0;
    font-size: 2.8rem;
    text-align: left;
    padding: 0 2rem;
  }

  .testimonial_card {
    background: radial-gradient( #597b03 0%, #0f0f0f 99%);
    width: 26rem;
    height: 38rem;
    margin-left: 0;
    margin: 0 auto 3rem auto;
    padding: 2.5rem;
    border-radius: 3.5rem;
  }

  .testimonial_card p {
    font-size: 1.8rem;
    line-height: 3.2rem;
    text-align: left;
    width: 24.3rem;
    margin-left: 1.5rem;
  }

  .author {
    margin-left: 1.5rem;
  }

  :global(.swiper-pagination-bullet) {
    width: 9px;
    height: 9px;
  }
}