.testimonials {
  padding: 8rem 0;
  color: white;
  background-color: black;
  /* justify-content: space-around; */
}

.testimonials h2 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 5rem;
  margin-left: 19rem;
}

.testimonial_card {
  background: #FFFFFF1A;
  padding: 3.5rem;
  margin: 0;
  border-radius: 4rem;
  height: 20rem;
  width: 40rem;
  margin-left: 20rem;
  /* gap: 20rem; */
}

.testimonial_card p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: white;
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2.5rem;
}

.author img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.author h4 {
  margin: 0;
  font-size: 1.5rem;
}

.author span {
  font-size: 1.3rem;
  opacity: 0.7;
}

:global(.swiper-pagination) {
  margin-top: 4rem;
  position: static !important;
}

:global(.swiper-pagination-bullet) {
  background-color: #FFFFFF66;
  width: 1rem;
  height: 1rem;
  opacity: 1;
}

:global(.swiper-pagination-bullet-active) {
  background-color: white;
}

@media (min-width: 992px) and (max-width: 2560px) {
  .testimonials {
    /* justify-content: space-around; */
    /* padding: 8rem 1rem; */
  }

  .testimonials h2 {
    font-size: 3.6rem;
    /* margin-left: 12rem; */
  }

  .testimonial_card {
    /* width: 30rem; */
    /* height: 20rem; */
    padding: 3.5rem;
    /* margin-left: 12rem;   */
    border-radius: 4rem;
    /* margin-left: 30rem; */
  }
}

@media (min-width: 1540px) and (max-width: 2560px) {
  .testimonials {
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
  }

  .testimonial_card {
    justify-content: space-around;
    align-items: center;
    /* display: flex; */
    margin-left: 40rem;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .testimonials {
    padding: 6rem 0;
  }

  .testimonials h2 {
    font-size: 3.2rem;
    margin-left: 0;
    padding: 0 4rem;
    text-align: left;
  }

  .testimonial_card {
    width: 34rem;
    height: auto;
    padding: 3rem;
    margin: 0 auto;
    border-radius: 3.6rem;
    align-items: center;
    justify-content: center;
  }

  .testimonial_card p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}


@media (max-width: 767px) {
  .testimonials {
    padding: 4rem 0;
    text-align: center;
  }

  .testimonials h2 {
    margin-left: 0;
    font-size: 2.8rem;
    text-align: left;
    padding: 0 1.6rem;
    margin-bottom: 3rem;
  }

  .testimonial_card {
    background: radial-gradient(#597b03 0%, #0f0f0f 99%);
    width: 100%;
    max-width: 28rem;
    height: auto;
    margin: 0 auto 3rem;
    padding: 2.4rem;
    border-radius: 3.2rem;
  }

  .testimonial_card p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: left;
    margin: 0;
  }

  .author {
    margin-top: 2rem;
  }

  :global(.swiper-pagination-bullet) {
    width: 9px;
    height: 9px;
  }
}

@media (min-width: 425px) and (max-width: 1024px) {
  .testimonials {
    padding: 6rem 2rem;
  }

  .testimonials h2 {
    font-size: 3.2rem;
    text-align: center;
    margin-left: 0;
  }

  .testimonial_card {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
  }

  :global(.swiper) {
  width: 100%;
}

:global(.swiper-wrapper) {
  display: flex;
  justify-content: center; 
  align-items: center;
}
}