.technology_section {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem 6rem;
    background-color: #88B702;
    height: 45rem;
    overflow: visible;
    gap: 1.3rem;
}

.text {
    max-width: 65rem;
    margin-left: 7rem;
    /* margin-bottom: 30px; */
}

.desktop_text {
    display: block;
    font-family: "DM Sans";
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.3;
    color: white;
    margin-bottom: 2rem;
}


.desktop_p {
    display: block;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: white;
    margin-bottom: 3rem;
}

.mobile_text {
    display: none;
}

.mobile_p {
    display: none;
}

.phones {
    position: relative;
    margin-bottom: 1.6rem;
    height: 71.4rem;
}


@media (min-width: 390px) and (max-width: 1200px) {

    .desktop_text{
        display: none;
    }

    .desktop_p{
        display: none;
    }

  .technology_section {
    flex-direction: column;
    height: 51rem;
    padding: 4rem 2rem;
    text-align: center;
  }

  .text {
    margin-left: 0;
    max-width: 36rem;
  }

  .mobile_text {
    display: block;
    font-family: "DM Sans";
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: white;
  }

  .mobile_p {
    display: block;
    font-family: "DM Sans";
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    color: white;
  }

  .phones {
    margin: 0;
    margin-top: -3rem;
    display: flex;
    justify-content: center;
  }

  .phones img {
    width: 26.7rem;
    height: 20rem;
  }
}