.phone {
  width: 47.7rem;
  height: 62rem;
  background: #111;
  background: #88B702;
  border-radius: 4rem;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left
}

.phone h3 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-bottom: 1.2rem;
}

.phone p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: left;
}

.phone img {
  margin: 5.9rem auto;
}

/* 📱 Мобильные устройства (320–480px) */
@media (max-width: 480px) {
  .phone {
    height: 57rem;
    width: 100%;
    padding: 2.5rem 1.5rem;
    border-radius: 2rem;
  }

  .phone h3 {
    font-size: 1.8rem;
  }

  .phone p {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 100%;
  }

  .phone img {
    width: 85%;
    /* margin-top: 3rem; */
    margin: 10.4rem auto;
  }
}


/* 📟 Планшеты (481–1024px) */
@media (min-width: 481px) and (max-width: 1024px) {
  .phone {
    width: 100%;
    max-width: 40rem;
    padding: 3rem 2rem;
  }

  .phone img {
    width: 80%;
    margin-top: 0rem;
  }
}


/* 🖥 Десктоп (1025–1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .phone {
    max-width: 45rem;
  }
}