.technology_section {
  position: relative;
  display: flex;
  align-items: center;
  padding: 3rem 6rem;
  background-color: #88b702;
  height: 45rem;
  overflow: visible;
  gap: 1.3rem;
}

.text {
  max-width: 65rem;
  margin-left: 7rem;
}

.desktop_text {
  display: block;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.3;
  color: white;
  margin-bottom: 2rem;
}

.desktop_p {
  display: block;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 3rem;
}

.mobile_text {
  display: none;
}

.mobile_p {
  display: none;
}

.phones {
  position: relative;
  margin-bottom: 1.6rem;
  height: 71.4rem;
}

@media (min-width: 992px) and (max-width: 2560px) {
  .technology_section {
    /* flex-direction: row; */
    justify-content: space-around;
    height: 45rem;
    padding: 3rem 6rem;
    gap: 1.3rem;
  }

  .text {
    max-width: 65rem;
    margin-left: 7rem;
  }

  .desktop_text,
  .desktop_p {
    display: block;
  }

  .mobile_text,
  .mobile_p {
    display: none;
  }

  .phones {
    height: 71.4rem;
    margin-bottom: 1.6rem;
  }

  .phones img {
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .technology_section {
    flex-direction: column;
    height: 60rem;
    padding: 6rem 4rem;
    text-align: center;
  }

  .text {
    margin-left: 0;
    max-width: 48rem;
  }

  .desktop_text,
  .desktop_p {
    display: none;
  }

  .mobile_text {
    display: block;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 1.6rem;
  }

  .mobile_p {
    display: block;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .phones {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .phones img {
    width: 32rem;
    height: auto;
  }
}

@media (min-width: 370px) and (max-width: 612px) {
  .phones img {
    height: 27.5rem;
  }
}

@media (min-width: 613px) and (max-width: 767px) {
  .phones img {
    height: 33.5rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .technology_section {
    flex-direction: column;
    height: 55.4rem;
    padding: 4rem 1.6rem;
    text-align: center;
  }

  .text {
    margin-left: 0;
    max-width: 100%;
  }

  .desktop_text,
  .desktop_p {
    display: none;
  }

  .mobile_text {
    display: block;
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 1.2rem;
  }

  .mobile_p {
    display: block;
    font-size: 1.5rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
  }

  .phones {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .phones img {
    width: 26rem;
    /* height: auto; */
  }
}

@media (min-width: 991px) and (max-width: 1024px) {
  .phones img {
    margin: 24rem 0;
  }
}

@media (min-width: 350px) and (max-width: 390px) {
  .phones img {
    margin: 1rem 0;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .phones img {
    margin: 6.3rem 0;
  }
}

@media (min-width: 350px) and (max-width: 425px) {
  .phones img {
    margin: 1.4rem 0;
  }
}

@media (min-width: 425px) and (max-width: 540px) {
  .phones img {
    margin: 0.4rem 0;
  }
}
