.about_us {
    /* display: flex; */
    /* text-align: center;
    margin: 0 auto;
    padding: 0 200px;
    margin-top: 200px; */

      min-height: 90vh;
  background: radial-gradient(
    #1b6622 0%,
    rgba(0, 0, 0, 1) 65%
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: white;
  font-family: "DM Sans";
  text-align: center;
  margin: 0 auto;
  padding-top: 10rem;
  padding: 30rem 48rem;
}

.about_us h1 {
    font-size: 6rem;
}

.about_us p {
    font-size: 1.8rem;
    font-weight: 400;
   line-height: 3.2rem; 
}